<%- include ../partials/header.ejs %>


<table class="movieGrid">
    <tr>
		<% images.forEach(function(image) { %>
			<td >
				<img data-genres="<%= image.genreIds %>" class="tests" src="<%= image.url %>">
			</td>
		<% }) %>
		<form method="POST" action="/users/<%= user._id %>/histories">
			<input type="submit" value="Go!">
		</form>
    </tr>
</table>

<button id="submitButton">Submit Selections</button>

<%- include ../partials/footer.ejs %>