<%- include ../partials/header.ejs %>
<h1>Select 3 - 5 images</h1>

<div class="row">
	<div class="column">
		<% images.forEach(function(image) { %>
				<img data-genres="<%= image.genreIds %>" class="tests" src="<%= image.url %>">
		<% }) %>
	</div>
		<form method="POST" action="/users/<%= user._id %>/histories">
			<input type="submit" value="Go!">
		</form>
</div>

<button id="submitButton">Submit Selections</button>

<%- include ../partials/footer.ejs %>