<%- include ../partials/header.ejs %>

	<h1>Select Your Favorite Photos</h1>
	<p>This is your test page. It is <u>crucial</u> that you carefully choose the correct images to get 
		your movie selections.After you have selected 3 - 5 images click the submit button at the bottom of the page.
	</p>
	
	<div class="test-page">
		<div class="polaroid">
			<% images.forEach(function(image) { %>
					<img data-genres="<%= image.genreIds %>" class="test-images" src="<%= image.url %>">
			<% }) %>
		</div>
			<form method="POST" action="/users/<%= user._id %>/histories" id="historyForm">
				<button id="submitButton">Submit Selections</button>
			</form>
</div>



<%- include ../partials/footer.ejs %>