<%- include ../partials/header.ejs %>


<div class="row">
	<div class="column">
		<% images.forEach(function(image) { %>
				<img data-genres="<%= image.genreIds %>" class="tests" src="<%= image.url %>">
		<% }) %>
	</div>
		<form method="POST" action="/users/<%= user._id %>/histories" id="imageForm">
			<button id="submitButton">Submit Selections</button>
		</form>
</div>



<%- include ../partials/footer.ejs %>