<%- include ../partials/header.ejs %>
	<div class="test-heading">
		<h1  >let your eyes choose a movie</h1>
		
	</div>
	<div class="test-page">
		<div class="polaroid">
			<% images.forEach(function(image) { %>
					<img data-genres="<%= image.genreIds %>" class="test-images" src="<%= image.url %>">
			<% }) %>
		</div>
</div>

<form method="POST" action="/users/<%= user._id %>/histories" id="historyForm">
	<button id="submitButton">Submit Selections</button>
</form>
<footer>
		<p>Photo's on Unsplash by Lee Aik Soon ,  by Kid Circus on,
                by Frank Busch on,  by Emil Jarfelt on,  by Thomas Stephan on
                by richard hewat on</p>
</footer>

<%- include ../partials/footer.ejs %>