<%- include ../partials/header.ejs %>
	<div class="test-heading">
		<h2>We recommend movies based on your choice of 5 photos.</h2>
		
	</div>
	<div class="test-page">
		<div class="polaroid">
			<% images.forEach(function(image, idx) { %>
					<img data-id="<%=idx%>" data-genres="<%= image.genreIds %>" class="test-images" src="<%= image.url %>">
			<% }) %>
		</div>
</div>

<form method="POST" action="/users/<%= user._id %>/histories" id="historyForm">
	<button class="submitButton">Submit Selections</button>
</form>
<footer>
		<p>Photos found on <a href="http://unsplash.com">Unsplash</a> by Lee Aik Soon, Kid Circus, Frank Busch, 
			Emil Jarfelt, Thomas Stephan, and Richard Hewat</p>
</footer>

<%- include ../partials/footer.ejs %>