<%- include ../../partials/header.ejs %>


<body>
    <main class="movie-grid">
        <div>
			<% movies.forEach(function(movie) { %>
				
				<a href="/users/<%= user.id %>/histories/<%=newHistory.id%>/movies/<%=movie.id%>">
				<% if (movie.poster_path) { %>
					<img src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>" class="poster">
				<% } else { %>
					<img src="/img/missing-poster.png" class="poster missing-poster">
				<% } %>
                <!-- <h1><%= movie.title %></h1> -->
                </a>
			<% })%>
		</div>
		<div id="pagination-links">
			<p>Pages: </p>
			<a href="/users/<%= user.id %>/histories/<%=newHistory.id%>/movies/1">1</a>
			<a href="/users/<%= user.id %>/histories/<%=newHistory.id%>/movies/2">2</a>
			<a href="/users/<%= user.id %>/histories/<%=newHistory.id%>/movies/3">3</a>
			<a href="/users/<%= user.id %>/histories/<%=newHistory.id%>/movies/4">4</a>
			<a href="/users/<%= user.id %>/histories/<%=newHistory.id%>/movies/5">5</a>
		</div>
    </main>
    
<%- include ../../partials/footer.ejs %>
