<%- include ../../partials/header.ejs %>
<main class="show-container">
    <div class="movie-detail">
		<h1><%= movie.title %></h1>
		<h3>About This Movie</h3>
		<p><%= movie.overview %></p>
		<% if (providers.length > 0) { %>
			
			<% providers.forEach(function(provider) { %>
				<% if (provider == 'Netflix' || provider == 'Amazon Prime Video' || provider == 'Hulu') {%>
					<h3>Currently Showing On</h3>
					<!-- <% if (provider == 'Netflix') { %>			
						<img src="https://i.imgur.com/UfgOEwx.jpg"  alt="Netflix" class="provider-icons">
					<% } %>	 -->
					<% if (provider == 'Amazon Prime Video') { %>
						<img src="https://i.imgur.com/FmiDvyI.jpg"  alt="Amazon Prime Video" class="provider-icons">
					<% } %>	
					<% if (provider == 'Hulu') { %>
						<img src="https://i.imgur.com/2pHET9b.png"  alt="Hulu" class="provider-icons">
					<% } %>	
				<% } %>	
			<% }) %>
		<% } %>
		
		
		
	
		
		
    </div>
	<img src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>" class="detail-image" alt="movie image">



</main>





<%- include ../../partials/footer.ejs %>