<%- include ../../partials/header.ejs %>
<main class="show-container">
    <div class="movie-detail">
		<h1><%= movie.title %></h1>
		<h3>About This Movie</h3>
		<p><%= movie.overview %></p>
		<% if (providers.length > 0) { %>
			Where to Watch:
			<% providers.forEach(function(provider) { %>
				<p><%= provider %></p>
			<% }) %>
		<% } %>
		<h3>Currently Showing On</h3>
		<img src="https://i.imgur.com/UfgOEwx.jpg"  alt="Netflix" class="provider-icons">
		<img src="https://i.imgur.com/2pHET9b.png"  alt="Hulu" class="provider-icons">
		<img src="https://i.imgur.com/Jdlvmci.jpg"  alt="HBO Go" class="provider-icons">
		<img src="https://i.imgur.com/FmiDvyI.jpg"  alt="Amazon" class="provider-icons">
		
    </div>
	<img src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>" class="detail-image" alt="movie image">



</main>





<%- include ../../partials/footer.ejs %>