<%- include ../partials/header.ejs %>
<main class="container">
    <div >
        <h1><%= movie.title %></h1>
		<p><%= movie.overview %></p>
    </div>
	<img src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>" class="detail-image">



</main>





<%- include ../partials/footer.ejs %>